.section_4 {
  background-color: #7c3aed;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}

.div_block_183198ad {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.book_a_free_live_session {
  color: #7c3aed;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 48px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .div_block_183198ad {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
  }

  .book_a_free_live_session {
    text-align: center;
    width: 100%;
  }
}
